.App {
    text-align: center;
    margin: 20px;
    font-family: 'Arial', sans-serif;
}

.App h1 {
    color: #3f51b5;
    margin-bottom: 30px;
    font-size: 2.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.9em;
    border: 1px solid #ddd;
}


th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}


td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    border-left: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


tr:hover {
    background-color: #f1f1f1;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: 1px solid #ddd;
}
